/*
--- 01 TYPOGRAPHY SYSTEM

- FONT SIZE SYSTEM (px)
10 / 12 / 14 / 16 / 18 / 20 / 24 / 30 / 36 / 44 / 52 / 62 / 74 / 86 / 98

- Font weights:

Default: 400
Medium: 500
Semi-bold: 600
Bold: 700


- Line heights:

Default: 1
Small: 1.05
medium: 1.2
Paragraph default: 1.6

- Letter Spacing:

-0.5px;
0.75px;


--- 02 COLORS:

- Primary: #259faf

- Tints: #b4d2d3 , #57b8bc , 


- Shades:

- Accents:  #152636 

- Greys: #555 , #333 , #6f6f6f

--- 06 BORDER_RADIUS

Default: 9px;
1.2rem;

--- 07 WHITESPACE

- SPACING SYSTEM (px)
2 / 4 / 8 / 12 / 16 / 24 / 32 / 48 / 64 / 80 / 96 / 128

*/

/*********************************************/
/* GENERIC PAGE */
/*********************************************/

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

body {
  font-family: "Rubik", sans-serif;
  line-height: 1;
  font-weight: 400;
  color: #555;
}

strong {
  font-weight: 500;
}

/*********************************************/
/* GENERAL REUSABLE COMPONENTS */
/*********************************************/
.container {
  max-width: 120rem;
  padding: 0 3.2rem;
  margin: 0 auto;
}
.grid {
  display: grid;
  row-gap: 9.6rem;
  column-gap: 6.4rem;
}

.grid--2--cols {
  grid-template-columns: repeat(2, 1fr);
}

.grid--3--cols {
  grid-template-columns: repeat(3, 1fr);
}

.grid--4--cols {
  grid-template-columns: repeat(4, 1fr);
}

.grid--center-v {
  align-items: center;
}

.heading-primary,
.heading-secondary,
.heading-tertiary {
  font-weight: 700;
  color: #333;
  letter-spacing: -0.5px;
}

.heading-primary {
  font-size: 5.2rem;
  line-height: 1.05;
  margin-bottom: 3.2rem;
}

.heading-secondary {
  font-size: 4.4rem;
  line-height: 1.2;
  margin-bottom: 9.6rem;
}

.heading-tertiary {
  font-size: 3rem;
  line-height: 1.2;
  margin-bottom: 3.2rem;
}

.subheading {
  display: block;
  font-size: 1.6rem;
  font-weight: 500;
  color: #152636;
  text-transform: uppercase;
  margin-bottom: 1.6rem;
  letter-spacing: 0.75px;
}

button {
  background-color: #259faf;
  color: #fff;
  border-radius: 9px;
  cursor: pointer;
}

.like-btn {
  display: flex;
  align-items: center;
  gap: 0.5em;
  background: #259faf;
  border-radius: 9px;
  color: #fff;
  padding: 0;
  cursor: pointer;
}

.like-btn svg {
  width: 24px;
  height: 24px;
}

.like-btn span {
  font-size: 1em;
}

.btn:link,
.btn:visited {
  font-size: 2rem;
  font-weight: 600;
  text-decoration: none;
  padding: 1.6rem 3.2rem;
  border-radius: 9px;
  display: inline-block;
  transition: all 0.3s;
}

.btn--full:link,
.btn--full:visited {
  background-color: #259faf;
  color: #fff;
}

.btn--full:hover,
.btn--full:active,
.like-btn:hover,
.like-btn:visited {
  background-color: #152636;
  color: #fff;
}

.btn--outline:link,
.btn--outline:visited {
  background-color: #fff;
  color: #555;
}

.btn--outline:hover,
.btn--outline:active {
  background-color: #b4d2d3;
  color: #555;
  box-shadow: inset 0 0 0 3px #fff;
}

.link:link,
.link:visited {
  display: inline-block;
  color: #259faf;
  text-decoration: none;
  border-bottom: 1px solid currentColor;
  padding-bottom: 2px;
  transition: all 0.3s;
}

.link:hover,
.link:active {
  color: #152636;
  border-bottom: 1px solid transparent;
}

/* HELPER CLASSES */

.margin-right-sm {
  margin-right: 1.6rem !important;
}

.margin-bottom-md {
  margin-bottom: 4.8rem !important;
}

.center-text {
  text-align: center;
}

/*********************************************/
/* HEADER COMPONENTS */
/*********************************************/

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #b4d2d3;

  height: 9.6rem;
  padding: 0 4.8rem;
}

.logo {
  height: 10.2rem;
  width: 10.2rem;
  padding-top: 10px;
}

/*********************************************/
/* NAVIGATION COMPONENTS */
/*********************************************/

.main-nav-list {
  list-style: none;
  display: flex;
  align-items: center;
  gap: 3.2rem;
}

.main-nav-link:link,
.main-nav-link:visited {
  display: inline-block;
  text-decoration: none;
  color: #333;
  font-weight: 600;
  font-size: 1.8rem;
  transition: all 0.3s;
}

.main-nav-link:hover,
.main-nav-link:active {
  color: #152636;
}

.main-nav-link.nav-cta:link,
.main-nav-link.nav-cta:visited {
  padding: 1.2rem 2.4rem;
  border-radius: 9px;
  color: #fff;
  background-color: #259faf;
}

.main-nav-link.nav-cta:hover,
.main-nav-link.nav-cta:active {
  background-color: #152636;
}

/*********************************************/
/* HERO COMPONENTS */
/*********************************************/

.section-hero {
  background-color: #b4d2d3;
  padding: 4.8rem 0 9.6rem 0;
}

.hero {
  max-width: 130rem;
  margin: 0 auto;
  padding: 0 3.2rem;
  display: grid;
  grid-template-columns: 1fr 1fr;
  align-items: center;
  gap: 9.6rem;
}

.hero-img {
  width: 100%;
}

.hero-description {
  font-size: 2rem;
  line-height: 1.5;
  margin-bottom: 4.8rem;
}

.adventures-booked {
  display: flex;
  margin-top: 8rem;
  align-items: center;
  gap: 1.6rem;
}

.booked-imgs {
  display: flex;
}

.booked-imgs img {
  height: 4.8rem;
  width: 4.8rem;
  border-radius: 50%;
  margin-right: -1.6rem;
  border: 3px solid #b4d2d3;
}

.booked-imgs img:last-child {
  margin: 0;
}

.booked-text {
  font-size: 1.8rem;
  font-weight: 600;
}

.delivered-text span {
  color: #152636;
  font-weight: 700;
}

/*********************************************/
/* FEATURED IN SECTION */
/*********************************************/

.section-featured {
  padding: 4.8rem 0 3.2rem 0;
}

.heading-featured-in {
  font-size: 1.4rem;
  text-transform: uppercase;
  letter-spacing: 0.75px;
  font-weight: 500;
  text-align: center;
  margin-bottom: 2.4rem;
  color: #888;
}

.logos img {
  height: 3.2rem;
  filter: brightness(0);
  opacity: 50%;
}

.logos {
  display: flex;
  justify-content: space-around;
}

/*********************************************/
/* HOW IT WORKS COMPONENTS */
/*********************************************/

.section-how {
  padding: 9.6rem 0;
}

.step-number {
  font-size: 8.6rem;
  font-weight: 600;
  color: #ccc;
  margin-bottom: 1.2rem;
}

.step-description {
  font-size: 1.8rem;
  line-height: 1.8;
}

.wave {
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
}

.wave::before,
.wave::after {
  content: "";
  display: block;
  width: 60%;
  padding-bottom: 60%;
  background-color: #b4d2d3;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  border-radius: 50%;
  z-index: -2;
}

.wave::after {
  width: 45%;
  padding-bottom: 45%;
  background-color: #57b8bc;
  z-index: -1;
}

.step-img {
  width: 35%;
}

/*********************************************/
/* BOARDS AND DESTINATION SECTION */
/*********************************************/

.section-pairing {
  padding: 9.6rem 0;
}

.pairing {
  box-shadow: 0 2.4rem 4.8rem rgba(0, 0, 0, 0.075);
  border-radius: 1.2rem;
  overflow: hidden;
  transition: all 0.4s;
}

.pairing:hover {
  transform: translateY(-1.2rem);
  box-shadow: 0 3.2rem 6.4rem rgba(0, 0, 0, 0.06);
}

.pairing-content {
  padding: 3.2rem 4.8rem 4.8rem 4.8rem;
}

.pairing-title {
  font-size: 2.4rem;
  color: #333;
  font-weight: 600;
  margin-top: 1.2rem;
  margin-bottom: 3.2rem;
}

.pairing-attributes {
  list-style: none;
  display: flex;
  flex-direction: column;
  gap: 2rem;
}

.pairing-attribute {
  font-size: 1.8rem;
}

.pairing-attribute {
  font-size: 1.8rem;
  display: flex;
  align-items: center;
  gap: 1rem;
}

.pairing-icon {
  height: 2.4rem;
  width: 2.4rem;
  color: #259faf;
}

.pairing-img {
  width: 100%;
}

.list {
  list-style: none;
  display: flex;
  flex-direction: column;
  gap: 1.8rem;
}

.list-item {
  font-size: 1.8rem;
  display: flex;
  align-items: center;
  gap: 1.8rem;
}

.list-icon {
  width: 3rem;
  height: 3rem;
  color: #259faf;
}

.external-links {
  display: flex;
  gap: 32rem;
}

/*********************************************/
/* TESTIMONIAL SECTION */
/*********************************************/

.section-testimonials {
  background-color: #b4d2d3;
  display: grid;
  grid-template-columns: 55fr 45fr;
  align-items: center;
}

.testimonials-container {
  padding: 9.6rem;
}

.testimonials {
  display: grid;
  grid-template-columns: 1fr 1fr;
  row-gap: 4.8rem;
  column-gap: 8rem;
}

.testimonial-img {
  width: 6.4rem;
  border-radius: 50%;
  margin-bottom: 1.2rem;
}

.testimonial-text {
  font-size: 1.8rem;
  line-height: 1.8;
  margin-bottom: 1.6rem;
}

.testimonial-name {
  font-size: 1.6rem;
  color: #6f6f6f;
}

.gallery {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 1.6rem;
  padding: 1.6rem;
}

.gallery-item {
  overflow: hidden;
}

.gallery-item img {
  display: block;
  width: 100%;
  transition: all 0.4s;
}

.gallery-item img:hover {
  transform: scale(1.1);
}

/*********************************************/
/* FOOTER SECTION */
/*********************************************/
.contact {
  padding: 50px 0;
}

.contact-info {
  display: flex;
  flex-direction: column;
  gap: 10px;
  margin-bottom: 20px;
}

.contact-info i {
  font-size: 1.5em;
  margin-right: 10px;
}

.contact-form {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.contact-form input,
.contact-form textarea {
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  width: 100%;
}

.contact-form button {
  padding: 10px 20px;
  border: none;
  background: #333;
  color: #fff;
  cursor: pointer;
  border-radius: 5px;
}

/* Footer */
.footer {
  padding: 20px 0;
  background: #333;
  color: #fff;
  text-align: center;
}
